In [8]:
print('Data Frames Primer')
import numpy as np
import pandas as pd
print('\n 1. Input the following data into a data frame called titanic, and display the entire data frame:\n')

Titanic_Survivors = {'Sex' :['Children', 'Children', 'Children','Men', 'Men','Men','Men','Women','Women','Women','Women'], 
                     'Class' : ['First','Second','Third','First','Second','Third','Crew','First','Second','Third','Crew'], 
                     'Survived' : [6,24,27,57,14,75,192,140,80,76,20], 
                     'Died' :[0,0,52,118,154,387,693,4,13,89,3]}

ts = pd.DataFrame(Titanic_Survivors,columns=['Sex', 'Class', 'Survived', 'Died'])
print (ts)

Data Frames Primer

 1. Input the following data into a data frame called titanic, and display the entire data frame:

         Sex   Class  Survived  Died
0   Children   First         6     0
1   Children  Second        24     0
2   Children   Third        27    52
3        Men   First        57   118
4        Men  Second        14   154
5        Men   Third        75   387
6        Men    Crew       192   693
7      Women   First       140     4
8      Women  Second        80    13
9      Women   Third        76    89
10     Women    Crew        20     3

In [13]:
print('2. Delete the crew members from the data.')

#ts.drop([6 , 10], axis=0, inplace = True) 

ts = ts[ts["Class"] != 'Crew']
print (ts)

2. Delete the crew members from the data.
        Sex   Class  Survived  Died
0  Children   First         6     0
1  Children  Second        24     0
2  Children   Third        27    52
3       Men   First        57   118
4       Men  Second        14   154
5       Men   Third        75   387
7     Women   First       140     4
8     Women  Second        80    13
9     Women   Third        76    89

In [20]:
print('3. Create a new column that is the total number of people for that group (those who survived + died).\n')

ts['Total'] = ts['Survived'] + ts['Died'] 

print(ts)

3. Create a new column that is the total number of people for that group (those who survived + died).

        Sex   Class  Survived  Died  Total
0  Children   First         6     0      6
1  Children  Second        24     0     24
2  Children   Third        27    52     79
3       Men   First        57   118    175
4       Men  Second        14   154    168
5       Men   Third        75   387    462
7     Women   First       140     4    144
8     Women  Second        80    13     93
9     Women   Third        76    89    165

In [21]:
print('4. Delete the column indicating the total number of people in that group.\n')
 
ts.drop(['Total'], axis = 1, inplace = True)

print(ts)

4. Delete the column indicating the total number of people in that group.

        Sex   Class  Survived  Died
0  Children   First         6     0
1  Children  Second        24     0
2  Children   Third        27    52
3       Men   First        57   118
4       Men  Second        14   154
5       Men   Third        75   387
7     Women   First       140     4
8     Women  Second        80    13
9     Women   Third        76    89

In [34]:
print('5. Only show the rows where more than 80% of the people survived.\n')

print(ts[(ts['Survived']/(ts['Survived']+ ts['Died']))*100 > 80])

5. Only show the rows where more than 80% of the people survived.

        Sex   Class  Survived  Died
0  Children   First         6     0
1  Children  Second        24     0
7     Women   First       140     4
8     Women  Second        80    13